

.buttons {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  margin: 8px;
  padding: 9.6px 19.2px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #007acc;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005fa3;
}

.galery-conteiner{
}


.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  gap: 16px;
  padding: 16px 0;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.thumbnail {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.2s;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.pagination {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.error {
  color: red;
  font-weight: bold;
}
